body,html{
background-color:skyblue;
}
.heading{
  color: black;
  text-align: center;
}
.todo{
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color:white;
  margin: 10px;
  padding: 10px;
  border-radius: 5px;
}
.todo p{
  width: 80%;
}

.status button{
  border-radius: 100px;
  margin: 4px;
  border: 1px solid rgb(35, 28, 30);

}
.complete{
  background-color: rgba(21, 179, 231, 0.349);
}
.delete{
  background-color: rgba(237, 62, 18, 0.597);
}

input{
  width: 96%;
  margin: 10px;
  padding: 5px;
  border-radius: 5px;
  border: none;
  height: 20px;
  text-align: center;
  font-weight:lighter
  
}
.todos{
  height: 600px;
  overflow: auto;
  border-radius: 5px;
  background-color:lightgray;
  padding: 5px;
  margin: 5px;
}